<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="DBCS" connectionString=" Data Source=LAPTOP-O7VQBOGS\SQLEXPRESS04;Initial Catalog=E_courier;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="homepage.Properties.Settings.E_courierConnectionString"
   connectionString="Data Source=LAPTOP-O7VQBOGS\SQLEXPRESS04;Initial Catalog=E_courier;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
